html {
    box-sizing: border-box;

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

button {
    border: none;
    padding: 0;
    background: none;
    outline: none;
}
