html {
    box-sizing: border-box;

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Rubik', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

button {
    border: none;
    padding: 0;
    background: none;
    outline: none;
    font-family: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}


// Text classes
.s-text-common {
    font-size: 16px;
    line-height: 24px;
}

.s-text-caption {
    font-size: 20px;
    line-height: 30px;
}

.s-text-subtitle {
    .s-text-caption;

    font-weight: @fw-medium;
}

.s-text-title {
    font-size: 50px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: @fw-medium;
}


// Common classes
.s-input {
    height: 40px;
    border: 1px solid @color-black;
    padding: 5px 10px;
    color: @color-black;

    .s-text-caption;

    &::placeholder {
        color: @color-gray;
    }
}

.s-search {
    margin-top: 30px;
}

.s-button {
    height: 40px;
    padding: 0 20px;
    border: 1px solid @color-black;
    background: @color-black;
    color: @color-white;
    font-weight: @fw-medium;
    transition: color, background;
    transition-duration: @animation-duration;
    cursor: pointer;

    .s-text-common;

    &:hover {
        background: @color-white;
        color: @color-black;
    }
}

.s-results {
    margin-top: 50px;
}

.s-result {
    display: block;
    padding: 20px 20px;
    background: transparent;
    color: @color-black;
    //border-bottom: 1px solid @color-black;
    transition: background @animation-duration;

    &:hover {
        background: fade(@color-gray, 15);
    }

    &-title {
        .s-text-subtitle;
    }

    &-description {
        .s-text-common;
    }
}

.s-item-page-info {
    margin-top: 50px;
}

.s-block {
    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &-content {
        span:not(:first-child) {
            margin-left: 10px;
        }
    }
}